@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff2) format("woff2"), url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.woff2) format("woff2"), url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff2) format("woff2"), url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "TT Lakes", "Arial", sans-serif;
  color: #1b1c21;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.overlay-modal {
  display: none; }

.overlay-modal--active {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 4; }

.overlay-menu {
  display: none; }

.overlay-menu--active {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 2; }

.page-wrapper {
  position: relative;
  background-color: #f8f8f8; }

@media (min-width: 1336px) {
  .page-wrapper {
    position: relative;
    display: flex;
    width: 1336px;
    box-sizing: border-box;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 320px; } }

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 88px;
  box-sizing: border-box;
  padding: 0 15px;
  background-color: #ffffff;
  margin: 0 auto;
  border-bottom: 1px solid #D9FFF5; }

@media (min-width: 768px) {
  .header {
    padding: 0 25px; } }

@media (min-width: 1336px) {
  .header {
    position: relative;
    margin: 0 auto;
    width: 1020px;
    height: 10px;
    background-color: #F8F8F8;
    border: none; } }

.header::after {
  position: absolute;
  content: "";
  top: 28px;
  right: 123px;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px; }

@media (min-width: 768px) {
  .header::after {
    right: 140px; } }

@media (min-width: 1336px) {
  .header::after {
    display: none; } }

@media (min-width: 768px) {
  .header::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 94px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px; } }

@media (min-width: 1336px) {
  .header::before {
    display: none; } }

.header__logo {
  margin-left: 17px; }

@media (min-width: 768px) {
  .header__logo {
    margin-left: 43px; } }

@media (min-width: 1336px) {
  .header__burger {
    display: none; } }

.header__contact-list {
  display: none; }

@media (min-width: 768px) {
  .header__contact-list {
    margin-left: auto;
    display: flex;
    justify-content: flex-start; } }

@media (min-width: 1336px) {
  .header__contact-list {
    display: none; } }

.header__service-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: flex-start;
  padding: 0; }

@media (min-width: 768px) {
  .header__service-list {
    margin-left: 10px; } }

@media (min-width: 1336px) {
  .header__service-list {
    position: absolute;
    margin-right: 32px;
    margin-left: 0px;
    top: 12px;
    right: 0; } }

@media (min-width: 1336px) {
  .logo {
    display: none; } }

.ui-button {
  cursor: pointer;
  background-color: transparent;
  border: none; }
  .ui-button:hover {
    opacity: 0.8; }
  .ui-button:active {
    opacity: 0.5; }
  .ui-button:focus {
    border: none;
    outline: none; }

.ui-button__icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0; }

.ui-button--close {
  background-image: url(./static/cross.svg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0; }

.contact-list {
  list-style: none;
  padding: 0; }

.contact-list__item {
  margin-right: 16px; }

.contact-list__link {
  display: block;
  text-decoration: none;
  padding: 0; }

.service-list {
  list-style: none; }

.service-list__item {
  margin-left: 16px; }

@media (min-width: 1336px) {
  .service-list__item {
    display: block;
    margin-left: 32px; } }

.service-list__item:hover {
  opacity: 0.8; }

.service-list__title {
  display: none; }

@media (min-width: 1336px) {
  .service-list__title {
    display: block;
    margin-right: 8px;
    font-weight: 500; } }

.service-list__link {
  display: block;
  color: inherit;
  text-decoration: none; }
  .service-list__link:active {
    color: #1B1C21; }

@media (min-width: 1336px) {
  .service-list__link {
    display: flex;
    align-items: center; } }

.main {
  background-color: #f8f8f8; }

@media (min-width: 1336px) {
  .main {
    width: 1020px;
    margin: 0 auto; } }

.main__title {
  margin: 0 16px; }

@media (min-width: 768px) {
  .main__title {
    margin: 0 24px; } }

@media (min-width: 1336px) {
  .main__title {
    margin: 0 32px; } }

.main__nav {
  margin: 0 auto 24px; }

@media (min-width: 768px) {
  .main__nav {
    margin-bottom: 32px; } }

@media (min-width: 1336px) {
  .main__nav {
    margin-bottom: 19px; } }

.main__menu {
  position: fixed;
  top: 0;
  left: -320px;
  bottom: 0; }

@media (min-width: 1336px) {
  .main__menu {
    position: absolute;
    display: flex;
    top: 0;
    left: 0; } }

.main__modal {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  z-index: 5; }

.title {
  position: relative;
  max-width: 500px;
  padding: 24px 0;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px; }

@media (min-width: 768px) {
  .title {
    padding: 24px 0 32px; } }

@media (min-width: 1336px) {
  .title {
    padding: 32px 0 8px; } }

.title::before {
  position: absolute;
  content: "";
  top: 24px;
  left: -16px;
  width: 4px;
  height: 40px;
  background: #41F6D7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

@media (min-width: 768px) {
  .title::before {
    left: -24px; } }

@media (min-width: 1336px) {
  .title::before {
    position: absolute;
    content: "";
    top: 32px;
    left: -32px;
    width: 3px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0; } }

@media (min-width: 1336px) {
  .title--modal::before {
    left: -24px; } }

.modal {
  width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  background-color: #ffffff;
  transition: right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1); }

.modal--open {
  right: 0;
  transition: right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); }

@media (min-width: 768px) {
  .modal {
    right: -440px;
    transition: right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 440px;
    padding: 25px; } }

@media (min-width: 768px) {
  .modal--open {
    right: 0;
    transition: right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); } }

@media (min-width: 1336px) {
  .modal {
    width: 0;
    right: 0;
    opacity: 0;
    visibility: hidden; } }

@media (min-width: 1336px) {
  .modal--open {
    opacity: 1;
    visibility: visible;
    position: absolute;
    width: 440px;
    right: 0;
    z-index: 5;
    transition: width 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 440px;
    padding: 25px;
    background-color: #ffffff; } }

.modal__title {
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
  line-height: 32px; }

@media (min-width: 768px) {
  .modal__title {
    margin-top: 0; } }

@media (min-width: 768px) {
  .modal__button-close {
    display: none; }
    .modal__button-close--open {
      position: absolute;
      display: block;
      left: -60px;
      top: 46px; } }

@media (min-width: 1336px) {
  .modal__button-close--open {
    top: 56px; } }

.modal-form__input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-left: 15px;
  font: inherit;
  border: 1px solid #EAEAEA;
  border-radius: 10px; }
  .modal-form__input:focus {
    border: 1px solid #41F6D7;
    outline: none; }

.modal-form__textarea {
  height: 118px;
  padding-top: 12px; }

.modal-form__agreement {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }
  .modal-form__agreement--important {
    color: #FF3E79; }

.modal-form__button {
  margin-left: 58%; }

@media (min-width: 768px) {
  .modal-form__button {
    margin-left: 69%; } }

.nav {
  box-sizing: border-box;
  padding: 0 15px; }

@media (min-width: 768px) {
  .nav {
    padding: 0 25px; } }

@media (min-width: 1336px) {
  .nav {
    padding: 0 35px; } }

.nav__list {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; }
  .nav__list::-webkit-scrollbar {
    width: 0;
    background-color: transparent; }

@media (min-width: 1336px) {
  .nav__list {
    flex-wrap: wrap;
    overflow: hidden; } }

.nav__link {
  border: 2px solid transparent;
  display: flex;
  padding: 8px 21px;
  color: #7e7e82;
  text-decoration: none;
  white-space: nowrap; }
  .nav__link:not(.nav__link--active):hover {
    color: #ADADAF; }
  .nav__link--active {
    border-color: #b8ffec;
    background-color: #ffffff;
    border-radius: 6px;
    color: #7e7e82; }

.about-us__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 25px; }

@media (min-width: 768px) {
  .about-us__wrapper {
    display: flex;
    padding-right: 25px;
    padding-left: 25px; } }

@media (min-width: 1336px) {
  .about-us__wrapper {
    width: 1006px;
    padding-right: 35px;
    padding-left: 35px; } }

.about-us__content {
  padding: 0 16px; }

@media (min-width: 768px) {
  .about-us__content {
    max-width: 60%;
    margin-right: 5%;
    padding: 0; } }

.about-us__text-container {
  height: 90px;
  margin-bottom: 10px;
  overflow: hidden; }
  .about-us__text-container--full {
    height: auto; }

@media (min-width: 768px) {
  .about-us__text-container {
    height: 143px; }
  .about-us__text-container--full {
    height: auto; } }

@media (min-width: 1336px) {
  .about-us__text-container {
    margin-bottom: 15px; } }

.about-us__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px; }

@media (min-width: 768px) {
  .about-us__text {
    line-height: 20px; } }

.about-us__text:not(:first-child) {
  margin-top: 20px; }

@media (min-width: 768px) {
  .about-us__picture {
    margin-top: 0;
    margin-left: auto; } }

.about-us__img {
  display: block;
  width: 100%; }

.about-us__more-button {
  margin: 0;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .about-us__more-button {
    margin-bottom: 0; } }

.more-button {
  display: flex;
  padding: 0;
  padding-left: 30px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #1B1C21;
  background-image: url(./static/more.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .more-button:hover {
    opacity: 0.8; }
  .more-button:active {
    opacity: 0.5; }
  .more-button:focus {
    border: none;
    outline: none; }

.more-button--less {
  background-image: url(./static/less.svg); }

.menu {
  width: 320px;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  background-color: #ffffff;
  z-index: 3;
  transition: left 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow: auto; }

@media (min-width: 768px) {
  .menu {
    padding: 20px 25px 25px; } }

@media (min-width: 1336px) {
  .menu {
    box-sizing: border-box;
    width: 320px;
    padding: 35px 25px 25px;
    background-color: #ffffff;
    transition: none; } }

.menu--open {
  left: 0;
  transition: left 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); }

@media (min-width: 768px) {
  .menu--open {
    left: 0;
    margin-left: 0;
    padding: 25px; } }

.menu__logo {
  margin-left: 16px;
  margin-right: auto; }

@media (min-width: 1336px) {
  .menu__logo {
    margin-left: 0; } }

.menu__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between; }

@media (min-width: 1336px) {
  .menu__header {
    width: 100%; } }

@media (min-width: 1336px) {
  .menu__close-button {
    display: none; } }

@media (min-width: 1336px) {
  .menu__search-button {
    margin-left: auto; } }

.menu__navigation {
  margin-bottom: 32px; }

.menu__footer {
  margin-top: 30px; }

@media (min-width: 768px) {
  .menu__footer {
    margin-top: 70px; } }

.menu__contact-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none; }

.menu__email {
  display: block;
  text-decoration: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #1B1C21;
  cursor: pointer; }

.menu__phone {
  display: block;
  text-decoration: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #1B1C21;
  cursor: pointer; }

.menu__lang-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.menu__lang-item {
  margin: 0;
  margin-right: 7px; }

.menu__lang {
  padding: 0;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  letter-spacing: -0.2px;
  cursor: pointer; }

.menu__lang--active {
  color: #7e7e82; }

@media (min-width: 1336px) {
  .navigation {
    display: flex; } }

.navigation__site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .navigation__site-list {
    margin-top: 25px; } }

.navigation__link {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 500;
  color: #1b1c21; }
  .navigation__link:not(.nav__link--active):hover {
    color: #ADADAF; }
  .navigation__link--active {
    color: #7e7e82; }
  .navigation__link--active::before {
    position: absolute;
    content: "";
    left: -15px;
    width: 4px;
    height: 24px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #41F6D7; }

@media (min-width: 768px) {
  .navigation__link--active::before {
    left: -25px; } }

.segment {
  padding-bottom: 25px; }

@media (min-width: 768px) {
  .segment {
    padding-bottom: 50px; } }

.segment__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px; }

@media (min-width: 768px) {
  .segment__wrapper {
    padding: 0 25px; } }

.segment__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #ffffff 100%);
  border-top: 1px solid #D9FFF5; }

@media (min-width: 768px) {
  .segment__title {
    padding: 15px 32px; } }

.segment__swiper {
  padding-bottom: 50px;
  box-sizing: border-box; }

@media (min-width: 768px) {
  .segment__swiper {
    padding-bottom: 0; } }

.segment__more-button {
  display: none; }

@media (min-width: 768px) {
  .segment__more-button {
    display: block;
    margin-top: 10px; } }

.segment__proposal {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px; }

@media (min-width: 768px) {
  .segment__proposal {
    width: 421px;
    margin-top: 15px; } }

.segment__proposal-link {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  .segment__proposal-link:hover {
    opacity: 0.8; }
  .segment__proposal-link:active {
    opacity: 0.5; }
  .segment__proposal-link::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: -15px;
    width: 8px;
    height: 8px;
    border: 3px solid #FF3E79;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg); }

.brand-list {
  list-style: none;
  padding: 0; }

@media (min-width: 768px) {
  .brand-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    box-sizing: border-box;
    height: 164px;
    margin: 0 auto;
    overflow-y: hidden;
    padding-left: 0; }
  .brand-list--full {
    height: auto; } }

.brand-list__item {
  min-height: 72px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px; }

.brand-list__link {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5%;
  box-sizing: border-box;
  width: 100%;
  height: 72px; }
  .brand-list__link::before {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -19px;
    right: 10px;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ff3e79; }
  .brand-list__link::after {
    position: absolute;
    content: "";
    top: 32px;
    right: 27px;
    width: 7px;
    height: 7px;
    border: #ff3e79;
    border: 3px solid #ff3e79;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg); }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD; }

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    display: none; } }

.device-list {
  list-style: none;
  padding: 0;
  display: flex; }

@media (min-width: 768px) {
  .device-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    box-sizing: border-box;
    height: 164px;
    margin: 0 auto;
    overflow-y: hidden;
    padding-left: 0; }
  .device-list--full {
    height: auto; } }

.device-list__item {
  position: relative;
  box-sizing: border-box;
  min-height: 158px;
  padding-top: 16px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px; }

.device-list__link {
  font: inherit;
  font-weight: 500;
  color: #1B1C21;
  text-decoration: none; }
  .device-list__link::before {
    position: absolute;
    content: "";
    top: 100px;
    right: 10px;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ff3e79; }
  .device-list__link::after {
    position: absolute;
    content: "";
    top: 116px;
    right: 28px;
    width: 7px;
    height: 7px;
    border: #ff3e79;
    border: 3px solid #ff3e79;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg); }

.button-order {
  position: relative;
  width: 119px;
  height: 32px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 10px;
  font: inherit;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  background-color: #FF3E79;
  border-radius: 16px; }
  .button-order::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 15px;
    width: 8px;
    height: 8px;
    border: 3px solid #ffffff;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
    transform: rotate(45deg); }

@media (min-width: 768px) {
  .price-list {
    display: flex;
    flex-direction: column; } }

.price-list__item {
  box-sizing: border-box;
  min-height: 180px;
  padding: 15px 15px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  background-color: #ffffff;
  border-radius: 6px; }

@media (min-width: 768px) {
  .price-list__item {
    min-height: 24px;
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 2fr 1fr 1.5fr;
    gap: 15px;
    padding: 22px;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 0; } }

@media (min-width: 768px) {
  .price-list__item:first-child {
    background-color: #f8f8f8;
    border-bottom: none; } }

@media (min-width: 768px) {
  .price-list__item:nth-child(2) {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; } }

@media (min-width: 768px) {
  .price-list__item:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; } }

@media (min-width: 768px) {
  .price-list__price {
    text-align: start; } }

.price-list__subtitle {
  line-height: 16px;
  color: #7E7E82; }

@media (min-width: 768px) {
  .price-list__subtitle {
    display: none; } }

.price-list__item--tablet {
  display: none; }

@media (min-width: 768px) {
  .price-list__item--tablet {
    display: grid; } }

@media (min-width: 768px) {
  .price-list__subtitle--tablet {
    display: inline-block;
    background-color: F8F8F8;
    line-height: 16px;
    color: #7E7E82; } }

.price-list__top,
.price-list__middle {
  padding-bottom: 15px; }

.price-list__bottom {
  position: relative; }

@media (min-width: 768px) {
  .price-list__top {
    grid-area: a;
    padding-bottom: 0; } }

@media (min-width: 768px) {
  .price-list__middle {
    grid-area: b;
    padding-bottom: 0; } }

@media (min-width: 768px) {
  .price-list__bottom {
    grid-area: c; } }

.price-list__service,
.price-list__price,
.price-list__time {
  margin: 0;
  padding: 0; }

.price-list__button {
  position: absolute;
  top: 5px;
  right: 0px; }

@media (min-width: 768px) {
  .price-list__button {
    top: -8px; } }

.footer {
  border-top: 1px solid #D9FFF5;
  width: 100%; }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }

@media (min-width: 768px) {
  .footer__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 213px;
    padding: 25px;
    text-align: left; } }

@media (min-width: 1336px) {
  .footer__wrapper {
    padding: 25px;
    grid-template-columns: 1fr 1fr 330px; } }

.footer__info {
  margin: 0;
  padding: 0; }

.footer__info--copyright {
  display: flex;
  flex-direction: column; }

.footer__info--copyright,
.footer__info--privacy {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .footer__info--copyright,
  .footer__info--privacy {
    margin-bottom: 0; } }

.footer__link {
  font: inherit;
  text-decoration: none;
  cursor: pointer; }
  .footer__link:hover {
    opacity: 0.8; }
  .footer__link:active {
    opacity: 0.5; }


/*# sourceMappingURL=style.css.map*/