.about-us__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 25px;
}

@media (min-width: $tablet) {
  .about-us__wrapper {
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: $desktop) {
  .about-us__wrapper {
    width: 1006px;
    padding-right: 35px;
    padding-left: 35px;
  }
}

.about-us__content {
  padding: 0 16px;;
}

@media(min-width: $tablet) {
  .about-us__content {
    max-width: 60%;
    margin-right: 5%;
    padding: 0;
  }
}

.about-us__text-container {
  height: 90px;
  margin-bottom: 10px;
  overflow: hidden;
  
  &--full {
      height: auto;
    }  
}

@media (min-width: $tablet) {
  .about-us__text-container {
    height: 143px;
  }

  .about-us__text-container--full {
    height: auto;
  }  
}

@media (min-width: $desktop) {
  .about-us__text-container {
    margin-bottom: 15px;
  }
}

.about-us__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

@media (min-width: $tablet) {
  .about-us__text {
    line-height: 20px;
  }
}

.about-us__text:not(:first-child) {
  margin-top: 20px;
}

@media (min-width: $tablet) {
  .about-us__picture {
    margin-top: 0;
    margin-left: auto;
  }
}

.about-us__img {
  display: block;
  width: 100%;
}

.about-us__more-button {
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: $tablet) {
  .about-us__more-button {
    margin-bottom: 0;
  }
}
