.brand-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media(min-width: $tablet) {
  .brand-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    box-sizing: border-box;
    height: 164px;
    margin: 0 auto;
    overflow-y: hidden;
    padding-left: 0;
  }

  .brand-list--full {
    height: auto;
  }
}

.brand-list__item {
  min-height: 72px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;  
}

.brand-list__link {
  position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    height: 72px; 
     
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -19px;
      right: 10px;
      width: 38px;
      height: 38px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 2px solid #ff3e79;
    }

    &::after {
      position: absolute;
      content: "";
      top: 32px;
      right: 27px;
      width: 7px;
      height: 7px;
      border: #ff3e79;
      border: 3px solid #ff3e79;
      border-bottom: none;
      border-left: none;
      border-radius: 2px;
      transform: rotate(45deg);
    }
}
  