.button-order {
    position: relative;
    width: 119px;
    height: 32px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 10px;
    font: inherit;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    color: $main;
    text-align: left;
    text-transform: uppercase;
    background-color: #FF3E79;
    border-radius: 16px;
    
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      right: 15px;
      width: 8px;
      height: 8px;
      border: 3px solid $main;
      border-bottom: none;
      border-left: none;
      border-radius: 2px;
      transform: rotate(45deg);
    }
  }
  