.contact-list {
    list-style: none;
  }
  
.contact-list__link {
    text-decoration: none;
  }
  
.contact-list__icon {
    &:hover {
      opacity: 0.8;
    
    }
  
    &:active {
      opacity: 0.5;
    }
  }