.contact-list {
    list-style: none;
    padding: 0;
  }

 .contact-list__item {
  margin-right: 16px;
 } 
  
.contact-list__link {
    display: block;
    text-decoration: none;
    padding: 0;
  }
  
