.equipment-brand {
    margin-bottom: 25px;
  }
  
  .equipment-brand__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  @media(min-width: $tablet) {
    .equipment-brand__wrapper {
      padding: 0 25px;
    }
  }
  
  .equipment-brand__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 15px 0;
  
    color: #7e7e82;
    text-transform: uppercase;
    background-image: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  
  }
  
  .equipment-brand__brand-list {
    display: none;
  }
  
  @media(min-width: $tablet) {
    .equipment-brand__brand-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      row-gap: 15px;
      box-sizing: border-box;
      height: 164px;
      margin: 0 auto;
      overflow-y: hidden;
      padding-left: 0;
    }
  
    .equipment-brand__brand-list--full {
      height: auto;
    }
  }
  
  
  .equipment-brand__more-button {
    display: none;
  }
  
  @media(min-width: $tablet) {
    .equipment-brand__more-button {
      display: block;
      margin-top: 10px;
    }
  }