.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 88px;
  box-sizing: border-box;
  padding: 0 15px;
  background-color: #ffffff;
  margin: 0 auto;
  border-bottom: 1px solid #D9FFF5;
}
  
  @media (min-width: $tablet) {
    .header {
      padding: 0 25px;
    }
  }

  @media (min-width: $desktop) {
    .header {
      margin: 0 auto;
      width: 1020px;
      height: 10px;
      background-color: #F8F8F8;
      border: none;
    }
  }

  .header::after {
    position: absolute;
    content: "";
    top: 28px;
    right: 123px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }

  @media (min-width: $tablet) {
    .header::after {
      right: 140px;
    }
  }

  @media (min-width: $desktop) {
    .header::after {
      display: none;
    }
  }

 @media (min-width: $tablet) {
   .header::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 94px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
 }

 @media (min-width: $desktop) {
  .header::before {
    display: none;
  }
}

  .header__logo {
    margin-left: 17px;
  }

  @media (min-width: $tablet) {
    .header__logo {
      margin-left: 43px;
    }
  }
  
  @media(min-width: $desktop){
    .header__burger {
      display: none;
    }
  }

.header__contact-list {
    display: none;
  }
  
  @media (min-width: $tablet) {
    .header__contact-list {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media(min-width: $desktop) {
    .header__contact-list {
      display: none;
    }
  }

  .header__service-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: space-between;
    padding: 0;
  }
  
  @media(min-width: $tablet) {
    .header__service-list {
      margin-left: 42px;
    } 
  }

  @media(min-width: $desktop) {
    .header__service-list {
      position: absolute;
      margin-right: 32px;
      margin-left: 0px;
      top: 12px;
      left: 60%;
    }
  }