.menu {
  width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  background-color: #ffffff;
  z-index: 3;
  transition: left 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@media(min-width: $tablet) {
  .menu {
    padding: 20px 25px 25px;
  }
}

@media(min-width: $desktop) {
    .menu {
      box-sizing: border-box;
      width: 320px;
      padding: 35px 25px 25px;
      background-color: #ffffff;
      transition: none;
    }
  }
  
  .menu--open {
    left: 0;
    transition: left 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  }
  
  @media(min-width: $tablet) {
    .menu--open {
      left: 0;
      margin-left: 0;
      padding: 25px;
    }
  }

  .menu__logo {
    margin-left: 16px;
    margin-right: auto;
  }
  
  @media(min-width: $desktop) {
    .menu__logo {
      margin-left: 0;
    }
  }

  .menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  
  @media(min-width: $desktop) {
    .menu__header {
      width: 100%;
    }
  }

  @media(min-width: $desktop) {
    .menu__close-button{
      display: none;
    }
  }

  @media(min-width: $desktop) {
    .menu__search-button {
      margin-left: auto;
    }
  }
  
  .menu__navigation {
    margin-bottom: 32px;
  }

   .menu__footer {
      margin-top: 30px;
  }

  .menu__contact-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
  }
  
  .menu__email {
    display: block;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #1B1C21;
    cursor: pointer;
  }
  
  .menu__phone {
    display: block;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #1B1C21;
    cursor: pointer;
  }
  
  .menu__lang-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu__lang-item {
    margin: 0;
    margin-right: 7px;
  }
  
  .menu__lang {
    padding: 0;
    font-size: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    letter-spacing: -0.2px;
    cursor: pointer;
  }
  
  .menu__lang--active {
    color: #7e7e82;
  }