.nav-list {
    display: flex;
    padding: 0;
    list-style: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }
  
@media (min-width: $desktop) {
    .nav-list {
      flex-wrap: wrap;
      overflow: hidden;
    }
}
  