.nav {
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  @media (min-width: $tablet) {
    .nav {
      padding: 0 25px;
    }
  }
  
  @media (min-width: $desktop) {
    .nav {
      padding: 0 35px;
    }
  }

  .nav__list {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
   
  }

  @media (min-width: $desktop) {
    .nav__list {
      flex-wrap: wrap;
      overflow: hidden;
    }
}

  .nav__link {
    border: 2px solid transparent;
    display: flex;
    padding: 8px 21px;
    color:#7e7e82;
    text-decoration: none;
    white-space: nowrap;

    &:not(.nav__link--active):hover {
      color: #ADADAF; 
    }
  
    &--active {
      border-color:#b8ffec;
      background-color: $main;
      border-radius: 6px;
      color:#7e7e82;
    }
  }