.segment {
  padding-bottom: 25px;
}

@media(min-width: $tablet) {
  .segment {
    padding-bottom: 50px;
  }
}

  .segment__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  @media(min-width: $tablet) {
    .segment__wrapper {
      padding: 0 25px;
    }
  }
  
  .segment__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 16px;
    
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F8F8F8 1.39%, $main 100%);
    border-top: 1px solid #D9FFF5;
  }

  @media(min-width: $tablet) {
    .segment__title {
      padding: 15px 32px;
    }
  }

  .segment__swiper {
    padding-bottom: 50px;
    box-sizing: border-box;
  }

  @media(min-width: $tablet) {
    .segment__swiper {
      padding-bottom: 0;
    }
  }

    
  .segment__more-button {
    display: none;
  }

  @media(min-width: $tablet) {
    .segment__more-button {
      display: block;
      margin-top: 10px;
    }
  }


  .segment__proposal {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 14px;
  }
  
  @media(min-width: $tablet) {
    .segment__proposal {
      width: 421px;
      margin-top: 15px;
      
    }
  }
  
  .segment__proposal-link {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  
    &::after {
      position: absolute;
      content: "";
      bottom: 5px;
      right: -15px;
      width: 8px;
      height: 8px;
      border: 3px solid #FF3E79;
      border-bottom: none;
      border-left: none;
      border-radius: 2px;
      transform: rotate(45deg);
    }
  }