.service-list {
    list-style: none;
    width: 95px;
  }

 @media(min-width: $desktop) {
   .service-list {
     height: 40px;
     width: 350px;
   }
 
 } 

.service-list__title {
  display: none;
}

@media(min-width: $desktop) {
  .service-list__title {
    display: block;
    margin-right: 8px;
  }
}

.service-list__item:hover {
 opacity: 0.8;
}

.service-list__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #ADADAF; 
    }

    &:active {
      color: #1B1C21;
    }
}
  
@media (min-width: $desktop) {
    .service-list__link {
      display: flex;
      align-items: center;
    }
}
  