@media (min-width: 768px) {
    .swiper-container {
      display: none; } }
  
  .swiper-container--brand {
    padding-bottom: 50px;
    box-sizing: border-box; }
  
  .swiper-slide--brand {
    min-height: 72px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px; }
  
  .swiper-slide__link--brand {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
    height: 72px; }
    .swiper-slide__link--brand::before {
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -19px;
      right: 10px;
      width: 38px;
      height: 38px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 2px solid #ff3e79; }
    .swiper-slide__link--brand::after {
      position: absolute;
      content: "";
      top: 32px;
      right: 27px;
      width: 7px;
      height: 7px;
      border: #ff3e79;
      border: 3px solid #ff3e79;
      border-bottom: none;
      border-left: none;
      border-radius: 2px;
      transform: rotate(45deg); }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD; }
  
  .swiper-container--type {
    padding-bottom: 50px;
    box-sizing: border-box; }
  
  .swiper-slide--type {
    position: relative;
    box-sizing: border-box;
    min-height: 158px;
    padding-top: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px; }
  
  .swiper-slide__link--type {
    font: inherit;
    color: #1B1C21;
    text-decoration: none; }
    .swiper-slide__link--type::before {
      position: absolute;
      content: "";
      top: 100px;
      right: 10px;
      width: 38px;
      height: 38px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 2px solid #ff3e79; }
    .swiper-slide__link--type::after {
      position: absolute;
      content: "";
      top: 116px;
      right: 28px;
      width: 7px;
      height: 7px;
      border: #ff3e79;
      border: 3px solid #ff3e79;
      border-bottom: none;
      border-left: none;
      border-radius: 2px;
      transform: rotate(45deg); }
  
  .swiper-container--prices {
    padding-bottom: 50px;
    box-sizing: border-box; }
  
  .swiper-slide--prices {
    box-sizing: border-box;
    min-height: 200px;
    padding: 15px 15px 20px;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
    background-color: #ffffff; }
  
  .swiper-slide__subtitle {
    line-height: 16px;
    color: #7E7E82; }
  
  .swiper-slide__service,
  .swiper-slide__price,
  .swiper-slide__time {
    margin: 0;
    padding: 0; }
  
  .swiper-slide__top,
  .swiper-slide__middle {
    padding-bottom: 15px; }
  
  .swiper-slide__bottom {
    position: relative; }
  
  .swiper-slide__button {
    position: absolute;
    top: 5px;
    right: 0px; }
  
  