.title {
    position: relative;
    max-width: 500px;
    padding: 24px 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
}

@media (min-width: $tablet) {
  .title {
      padding: 24px 0 32px;
  }
}

@media (min-width: $desktop) {
  .title {
      padding: 32px 0 8px;
  }
}

.title::before {
    position: absolute;
    content: "";
    top: 24px;
    left: -16px;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  @media (min-width: $tablet) {
    .title::before {
        left: -24px;
    }
  }

  @media (min-width: $desktop) {
    .title::before {
      position: absolute;
      content: "";
      top: 32px;
      left: -32px;
      width: 3px;
      height: 40px;
      background: #41F6D7;
      border-radius: 0;
    }
  }