.ui-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
   
   &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.ui-button__icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}

.ui-button--close{
  background-image: url('../img/cross.svg');
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}